<section class="services" id="services">
    <div class="container">
        <div class="services_label">
            <h1><span>П</span><span>о</span><span>с</span><span>л</span><span>у</span><span>г</span><span>и</span></h1>
        </div>
        <div class="bluespanchuks1">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 withborderyellow">
                <div class="borderyellow">
                    <h3>РОЗРОБКА</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
                <div class="borderyellow">
                    <h3>ПРОТОТИПУВАННЯ</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів.
                    </p>
                </div>
                <div class="yellowspanchuks">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <div class="bluespanchuks2">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <div class="borderyellow">
                    <h3>РОЗРОБКА</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
                <div class="borderyellow">
                    <h3>ПРОТОТИПУВАННЯ</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>