<section class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="about-item">
                    <div class="growth"></div>
                    <p>
                        Программного обеспечения. Участники  проекта работают над продуктом под руководст- вом опытных тимлидов, таким
                        образом, изучая нна практике весь цикл разработки продукта. BIONIC University в рамках раз- вития концепции практического обучения запустил собственный
                        проект по разработке програм- много обеспечения програм- много обеспечения.
                        Программного обеспечения. Участники  проекта работают над продуктом под руководст- вом опытных тимлидов, таким
                        образом, изучая нна практике весь цикл разработки продукта. BIONIC University в рамках раз- вития концепции практического обучения запустил собственный
                        проект по разработке програм- много обеспечения програм- много обеспечения.
                    </p>
                    <div class="bu3"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="about-item">
                    <div class="light-bulb"></div>
                    <p>
                        Программного обеспечения. Участники  проекта работают над продуктом под руководст- вом опытных тимлидов, таким
                        образом, изучая нна практике весь цикл разработки продукта. BIONIC University в рамках раз- вития концепции практического обучения запустил собственный
                        проект по разработке програм- много обеспечения програм- много обеспечения.
                    </p>
                    <div class="bu2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="about-item">
                    <div class="world"></div>
                    <p>
                        Программного обеспечения. Участники  проекта работают над продуктом под руководст- вом опытных тимлидов, таким
                        образом, изучая нна практике весь цикл разработки продукта. BIONIC University в рамках раз- вития концепции практического обучения запустил собственный
                        проект по разработке програм- много обеспечения програм- много обеспечения.
                    </p>
                    <div class="bu1"></div>
                </div>
            </div>
        </div>
        <div    class="connect_us">
            <div class="text-center">
                <a class="btn btn-primary collapsed" data-id="form-collapsed" id="btn-form-collapsed">Связаться с нами</a>
            </div>
            <form class="form-horizontal collapse" name="form" role="form"  id="formValidate">
                <div >
                    <a class="form-close collapsed" data-id="form-collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000"  width="32px" height="32px" viewBox="0 0 960 960">
                            <path d="M142 794 c-5 -9 -7 -24 -4 -33 3 -9 67 -74 143 -146 75 -71 137 -137
                                137 -145 0 -8 -62 -73 -137 -145 -139 -131 -161 -160 -138 -182 22 -23 51 -1
                                182 138 72 75 137 137 145 137 8 0 74 -62 145 -138 103 -109 136 -138 158
                                -139 25 -1 31 7 28 35 -1 12 -192 203 -249 250 -40 34 -40 54 0 88 63 52 247
                                239 253 256 7 22 -19 44 -42 35 -10 -4 -76 -69 -148 -145 -71 -76 -138 -138
                                -147 -139 -9 0 -21 6 -25 14 -16 27 -256 264 -274 270 -11 4 -21 -1 -27 -11z"/>
                        </svg>
                    </a>

                </div>
                <h2>Заполните пожалуйста форму</h2>
                <h3>Общая информация о бизнесе</h3>
                <div class="form-group">
                    <label for="inputNameCompany" class="col-sm-3  control-label">Назвение компании*:</label>
                    <div class="col-sm-9">
                        <input   type="text" name="name_company"  class="form-control" id="inputNameCompany">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSiteCompany" class="col-sm-3 control-label">Cайт компании*:</label>
                    <div class="col-sm-9">
                        <input type="text" name="site_company"   class="form-control" id="inputSiteCompany">
                    </div>
                </div>
                <h3>Вашы контакты</h3>
                <div class="form-group">
                    <label for="inputFullName" class="col-sm-3 control-label">Имя и фамилия*:</label>
                    <div class="col-sm-9">
                        <input type="text" name="full_name"   class="form-control" id="inputFullName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputJobPosition"  class="col-sm-3 control-label" >Позиция в компании*:</label>
                    <div class="col-sm-9">
                        <input type="text" name="job_position"  class="form-control" id="inputJobPosition">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-3 control-label">Телефон*:</label>
                    <div class="col-sm-9">
                        <input type="tel" name="phone"  class="form-control" id="inputPhone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email*:</label>
                    <div class="col-sm-9">
                        <input type="email" name="mail"  class="form-control" id="inputEmail">
                    </div>
                </div>
                <h3>Детальная информация о компании и проекте</h3>
                <div class="form-group">
                    <label for="inputAbout" class="col-sm-5 control-label">Кто чаще всего является клиентом компании?</label>
                    <div class="col-sm-7">
                        <textarea  class="form-control" name="question_1" id="inputAbout"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTask" class="col-sm-5 control-label">Какую бизнес задачу/проблему вы хотите решить с помощью IT-проекта? </label>
                    <div class="col-sm-7">
                        <textarea  class="form-control" name="question_2" id="inputTask"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResult" class="col-sm-5 control-label">Какой результат вы ожидаете получить? </label>
                    <div class="col-sm-7">
                        <textarea   class="form-control" name="question_3" id="inputResult"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-5 control-label">Мы рассматриваем Вашу заявку как сотрудничества в разработке полноценого IT-решения? </label>
                    <div class="col-sm-7">
                        <textarea   class="form-control" name="question_4" id="inputDescription"></textarea>
                    </div>
                </div>
                <div id="result">
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit"  class="btn btn-primary">Отправить заявку</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>




