<footer class="footer" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p class="">
                    <!--<span class="spanblock">Слідкуйте за нами в соцмережах</span>
                    <a href="https://www.linkedin.com/company/5038601?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A5038601%2Cidx%3A2-1-2%2CtarId%3A1479501919624%2Ctas%3Abionic%20uni" target="_blanck"><img src="img/linkedin.png"></a>
                    <a href="https://www.facebook.com/BionicUniversity" target="_blanck"><img src="img/facebook.png"></a>
                    <a href="https://vk.com/bionicuniversity" target="_blanck"><img src="img/vk.png"></a>
                    <a href="https://www.youtube.com/channel/UCVXfSyq0Qs3auJ4bPv4UXVg" target="_blanck"><img src="img/youtube.png"></a>-->
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="">
                    <span class="spanblock">04080, Україна, Київ, вул. Г. Сковороди, 2, 10-ий корпус</span>
                    <span class="spanblock">067 555 6677, 044 455 7777</span>
                    <span class="spanblock">devstudio@bionic.university.com</span>
                    <span class="copyright">c</span>
                    <span class="span">2016, DEV studio</span>
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="">
                    <!--<span class="copyright">c</span>
                    <span class="span">2016, DEV studio</span>-->
                </p>
            </div>
        </div>
    </div>
</footer>