<!-- PROJECTS -->
<section id="projects" class="projects">
    <div class="container">
        <div class="projects_label">
            <h1 ><span>П</span><span>р</span><span>о</span><span>е</span><span>к</span><span>т</span><span>и</span></h1>
        </div>
        <div id="project-carousel" class="carousel slide"  data-ride="carousel">
            <div class="controls_block">
                <div class="controls">
                    <a class=" slider_control" href="#project-carousel" role="button" data-action="prev">
                        <img src="./img/arrowl.png" alt="">
                    </a>
                    <a class="slider_control" href="#project-carousel" role="button" data-action="next">
                        <img src="./img/arrowr.png" alt="">
                    </a>
                </div>
            </div>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel" role="button" data-action="view">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container"  href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img class="project-photo"  alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img  class="project-photo" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container" href="#project-carousel"  role="button" data-action="view">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img class="project-photo"  alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev" >Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div id="project-view" class="project-view collapse">
            <div class="text-center close">
                <h1 class=" text-center">Наші проекти
                    <span><a class="close"  href="#project-view" role="button" data-action="view"></a></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="current_project">
                        <article class="description clearfix">
                            <h1 class="text-center" data-model = "project_name">Smart System</h1>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img data-model="link_url"  alt="">
                                </div>
                                <div class="col-sm-7">
                                    <p data-model = "description"></p>
                                </div>
                            </div>
                        </article>
                        <div class="vacancies clearfix">
                                <form class="vacancies-container ">
                                    <h2>Вакінсіі:</h2>
                                    <div class="resume">
                                        <h3>QA Engineer</h3>
                                        <a class="btn btn-desc" href="#project-view" role="button" data-vacancy="QA" data-action="checkView">Опис вакансії</a>
                                        <a class="btn btn-dev btn-send" href="#project-view" role="button" data-vacancy="QA" data-action="checkSend">Відіслати резюме</a>
                                    </div>
                                    <div class="send_resume QA collapse">
                                        <div class="form-group">
                                            <div class="radio-group ">
                                                <div class="col-xs-6">
                                                    <label class="control-label">
                                                        <input class=" form-check-input" type="radio" name="question_4"  value="option1" ><span></span>Випускник Bionic
                                                    </label>
                                                    <div class="alumnus">
                                                        <div >
                                                            <p>Якщо ти - випускник Bionic можеш подати резюме, ввівши логін і пароль Bionic</p>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4 text-right">
                                                                <label for="inputLogin3" class="control-label">login</label>
                                                            </div>
                                                            <div class=" col-sm-8">
                                                                <input type="text" name="login"  class="form-control" id="inputLogin3" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4  text-right">
                                                                <label for="inputPassword3" class="control-label">password</label>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input type="password" name="password"  class="form-control" id="inputPassword3" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="text-center">
                                                                <button type="submit"  id="sendResume3" class="btn btn-primary btn-dev  btn-send">Відіслати резюме</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="control-label ">
                                                        <input class="form-check-input" type="radio" name="question_4"  value="option2" checked><span></span>Не випускник
                                                    </label>
                                                    <div class="noalumnus">
                                                        <p>Если Вы не являетесь выпускником Bionic         University/School/Summer Camp, Вы можете откликнуться на вакансию на сайте DOU или отправить свое резюме на nas111@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="resume">
                                        <h3>Front-end Developer</h3>
                                        <a class="btn btn-desc" href="#project-view" role="button" data-vacancy="QA" data-action="checkView">Опис вакансії</a>
                                        <a class="btn btn-dev  btn-send" href="#project-view" role="button" data-vacancy="front-end " data-action="checkSend">Відіслати резюме</a>
                                    </div>
                                    <div class="send_resume front-end collapse">
                                        <div class="form-group">
                                            <div class="radio-group ">
                                                <div class="col-xs-6">
                                                    <label class="control-label">
                                                        <input class=" form-check-input" type="radio" name="question_4"  value="option1" ><span></span>Випускник Bionic
                                                    </label>
                                                    <div class="alumnus">
                                                        <div >
                                                            <p>Якщо ти - випускник Bionic можеш подати резюме, ввівши логін і пароль Bionic</p>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4 text-right">
                                                                <label for="inputLogin2" class="control-label">login</label>
                                                            </div>
                                                            <div class=" col-sm-8">
                                                                <input type="text" name="login"  class="form-control" id="inputLogin2" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4  text-right">
                                                                <label for="inputPassword2" class="control-label">password</label>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input type="password" name="password"  class="form-control" id="inputPassword2" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="text-center">
                                                                <button type="submit"  id="sendResume2" class="btn btn-primary btn-dev  btn-send">Відіслати резюме</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="control-label ">
                                                        <input class="form-check-input" type="radio" name="question_4"  value="option2" checked><span></span>Не випускник
                                                    </label>
                                                    <div class="noalumnus">
                                                        <p>Если Вы не являетесь выпускником Bionic         University/School/Summer Camp, Вы можете откликнуться на вакансию на сайте DOU или отправить свое резюме на nas111@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="resume">
                                        <h3>Business Analyst</h3>
                                        <a class="btn btn-desc" href="#project-view" role="button" data-vacancy="QA" data-action="checkView">Опис вакансії</a>
                                        <a class="btn btn-dev btn-send" href="#project-view" role="button" data-vacancy="BA" data-action="checkSend">Відіслати резюме</a>
                                    </div>
                                    <div class="send_resume BA collapse">
                                        <div class="form-group">
                                            <div class="radio-group ">
                                                <div class="col-xs-6">
                                                    <label class="control-label">
                                                        <input class=" form-check-input" type="radio" name="question_4"  value="option1" ><span></span>Випускник Bionic
                                                    </label>
                                                    <div class="alumnus">
                                                        <div >
                                                            <p>Якщо ти - випускник Bionic можеш подати резюме, ввівши логін і пароль Bionic</p>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4 text-right">
                                                                <label for="inputLogin1" class="control-label">login</label>
                                                            </div>
                                                            <div class=" col-sm-8">
                                                                <input type="text" name="login"  class="form-control" id="inputLogin1" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-xs-4  text-right">
                                                                <label for="inputPassword1" class="control-label">password</label>
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <input type="password" name="password"  class="form-control" id="inputPassword1" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="text-center">
                                                                <button type="submit"  id="sendResume1" class="btn btn-primary btn-dev  btn-send">Відіслати резюме</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label class="control-label ">
                                                        <input class="form-check-input" type="radio" name="question_4"  value="option2" checked><span></span>Не випускник
                                                    </label>
                                                    <div class="noalumnus">
                                                        <p>Если Вы не являетесь выпускником Bionic         University/School/Summer Camp, Вы можете откликнуться на вакансию на сайте DOU или отправить свое резюме на nas111@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <aside class="other_projects">
                        <ul id="list-projects">
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>




