<!-- PROJECTS -->
<section id="projects" class="projects">
    <div class="container">
        <div class="projects_label">
            <h1 ><span>П</span><span>р</span><span>о</span><span>е</span><span>к</span><span>т</span><span>и</span></h1>
        </div>
        <div id="carousel-generic" class="carousel slide"  data-ride="carousel">
            <div class="controls_block">
                <div class="controls">
                    <a class=" slider_control" href="#carousel-generic" role="button" data-slide="prev">
                        <img src="./img/arrowl.png" alt="">
                    </a>
                    <a class="slider_control" href="#carousel-generic" role="button" data-slide="next">
                        <img src="./img/arrowr.png" alt="">
                    </a>
                </div>
            </div>
            <div class="carousel-container">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="row flex_row">
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-left">
                                        <a><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-top  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom item-left">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12 flex_col">
                                <div class="item-container">
                                    <div class="project-slide-item item-bottom  item-right">
                                        <a ><img src="img/BU2.png" alt=""></a>
                                    </div>
                                    <span class="action hidden-xs"></span>
                                    <a class="btn btn-primary btn-dev">Подиватися вакансії</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row project_info">
            <div class="text-center close">
                <h1 class="text-center">Наши проекты
                    <span>
                                <a href=""><img src="img/Projects/back.png" alt=""></a>
                            </span>
                </h1>
            </div>
            <div class="col-md-9">
                <section class="current_project">
                    <article class="row description">
                        <h1 class="text-center">Smart System</h1>
                        <div class="col-sm-5">
                            <img src="img/Projects/project-photo-big.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia labore perferendis, quidem possimus perspiciatis ex autem velit ratione asperiores eum earum quos doloremque tempora neque unde recusandae ipsum mollitia ad itaque. Voluptatum nam adipisci odio consectetur odit maxime possimus sequi aliquam unde veniam molestiae amet itaque dolores, impedit architecto, vero, eius necessitatibus? Harum maxime quam ducimus culpa reprehenderit. Vero, eius.</p>
                        </div>
                    </article>
                    <section class="row vacancies">
                        <div class="col-sm-12">
                            <h1>Вакинсии:</h1>
                            <section class="resume">
                                <h2>QA Engineer</h2>
                                <a class="btn-desc" href="">Описание вакансии</a>
                                <a class="btn-send" href="">Отослать резюме</a>
                            </section>
                            <section class="resume">
                                <h2>Front-end Developer</h2>
                                <a class="btn-desc" href="">Описание вакансии</a>
                                <a class="btn-send" href="">Отослать резюме</a>
                            </section>
                            <section class="resume">
                                <h2>Business Analyst</h2>
                                <a class="btn-desc" href="">Описание вакансии</a>
                                <a class="btn-send" href="">Отослать резюме</a>
                            </section>
                        </div>
                    </section>
                </section>
            </div>
            <div class="col-md-3">
                <aside class="other_projects">
                    <ul>
                        <li><a href="#">Проект 2 Название</a></li>
                        <li><a href="#">Проект 3 Название</a></li>
                        <li><a href="#">Проект 4 Название</a></li>
                        <li><a href="#">Проект 5 Название</a></li>
                        <li><a href="#">Проект 6 Название</a></li>
                        <li><a href="#">Проект 7 Название</a></li>
                        <li><a href="#">Проект 8 Название</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>


