<!-- PROJECTS -->
<section id="projects" class="projects">
    <div class="container">
        <div class="projects_label">
            <h1 ><span>П</span><span>р</span><span>о</span><span>е</span><span>к</span><span>т</span><span>и</span></h1>
        </div>
        <div id="project-carousel" class="carousel slide"  data-ride="carousel">
            <div class="controls_block">
                <div class="controls">
                    <a class=" slider_control" data-target="#project-carousel" role="button" data-action="prev">
                        <img src="./img/arrowl.png" alt="">
                    </a>
                    <a class="slider_control" data-target="#project-carousel" role="button" data-action="next">
                        <img src="./img/arrowr.png" alt="">
                    </a>
                </div>
            </div>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row flex_row" data-repeate="slides">
                    </div>
                </div>
                <div class="item ">
                    <div class="row flex_row" data-repeate="slides">
                    </div>
                </div>
            </div>
        </div>

        <div id="project-view" class="project-view collapse">
            <div class="text-center close">
                <h1 class=" text-center">Наші проекти
                    <span><a class="return"  data-target="#project-view" role="button" data-action="view"></a></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="current_project">
                        <article class="preview clearfix">
                            <h1 class="text-center" data-model = "name"></h1>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img data-model="previewImg"  alt="">
                                </div>
                                <div class="col-sm-9">
                                    <div class="description" data-model = "description"></div>
                                </div>
                            </div>
                        </article>
                        <div class="vacancies clearfix">

                        </div>
                        <div id="ok" class="success text-center collapse" >
                            <div class="clearfix">
                                <a class="close collapsed" data-target="#success"></a>
                            </div>
                            <div class="ok-icon"></div>
                            <p>Дякуємо, Ваша резюме</p>
                            <p>успішно відправлено</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <aside class="other_projects">
                        <ul id="list-projects">
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>




