<section class="services" id="services">
    <div class="parallax">
        <span class="item item1" data-type="parallax" data-depth="0.2"><img src="../img/item2.png" alt="item"></span>
        <span class="item item2" data-type="parallax" data-depth="0.2"><img src="../img/item6.png" alt="item"></span>
        <span class="item item3" data-type="parallax" data-depth="0.2"><img src="../img/item5.png" alt="item"></span>
        <span class="item item4" data-type="parallax" data-depth="0.2"><img src="../img/item1.png" alt="item"></span>
        <span class="item item5" data-type="parallax" data-depth="0.2"><img src="../img/item5.png" alt="item"></span>
        <span class="item item6" data-type="parallax" data-depth="0.2"><img src="../img/item3.png" alt="item"></span>
        <span class="item item7" data-type="parallax" data-depth="0.2"><img src="../img/item1.png" alt="item"></span>
        <span class="item item8" data-type="parallax" data-depth="0.2"><img src="../img/item4.png" alt="item"></span>
        <span class="item item9" data-type="parallax" data-depth="0.2"><img src="../img/item2.png" alt="item"></span>
        <span class="item item10" data-type="parallax" data-depth="0.2"><img src="../img/item6.png" alt="item"></span>
        <span class="item item11" data-type="parallax" data-depth="0.2"><img src="../img/item1.png" alt="item"></span>
        <span class="item item12" data-type="parallax" data-depth="0.2"><img src="../img/item5.png" alt="item"></span>
        <span class="item item13" data-type="parallax" data-depth="0.2"><img src="../img/item3.png" alt="item"></span>
        <span class="item item14" data-type="parallax" data-depth="0.2"><img src="../img/item6.png" alt="item"></span> 
        <span class="item item15" data-type="parallax" data-depth="0.2"><img src="../img/item3.png" alt="item"></span>
        <span class="item item16" data-type="parallax" data-depth="0.2"><img src="../img/item2.png" alt="item"></span>
        <span class="item item17" data-type="parallax" data-depth="0.2"><img src="../img/item4.png" alt="item"></span>
        <span class="item item18" data-type="parallax" data-depth="0.2"><img src="../img/item1.png" alt="item"></span> 
    <div class="container">
        <div class="rov">
            <div class="col-md-12">
                <div class="col-md-5 lines"><span class="line"></span></div>
                <h2 class="col-md-2">ПОСЛУГИ</h2>
                <div class="col-md-5 lines"><span class="line"></span></div>
            </div>
        </div>
        <div class="bluespanchuks1">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 withborderyellow">
                <div class="borderyellow">
                    <div class="hidden1"></div>
                    <h3>РОЗРОБКА</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
                <div class="borderyellow">
                    <div class="hidden2"></div>
                    <h3>ПРОТОТИПУВАННЯ</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів.
                    </p>
                </div>
                <div class="yellowspanchuks">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <div class="bluespanchuks2">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <div class="borderyellow">
                    <div class="hidden3"></div>
                    <h3>РОЗРОБКА</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
                <div class="borderyellow">
                    <div class="hidden4"></div>
                    <h3>ПРОТОТИПУВАННЯ</h3>
                    <p>
                        BIONIC Unoversity в рамках розвитку концетції практичного навчання запустив власний проект по розробці програмуного забеспечення. Учасники проекту прауюють над продуктом під керівництвом досвідченних тімлідів
                    </p>
                </div>
            </div>
        </div>
    </div>
</div></section>