.connect_us{
            
    .btn{
        &:hover,
        &:focus,
        &.focus {
            color:$yellow-base-color;
            background-color:$dark-blue-base-color;
        }
    }

    textarea{
        resize: none;
        word-wrap: break-word;
        transition: 0.05s;
       -moz-transition: 0.05s;
       -webkit-transition: 0.05s;
        -o-transition: 0.05s;
        overflow: hidden;
    }
    h3{
        text-align: left;
        margin-left: 30px;
    }
    form .error{
        color:red;
        text-align: left;
    }
}