.connect_us{
  a.close{
    display: block;
    float: right;
  }
  
  margin-bottom: 30px;
  margin-top: 30px;

  .btn-dev{
    padding: 10px 25px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  textarea{
    resize: none;
    word-wrap: break-word;
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
    overflow: hidden;
  }

  h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  h3{
    text-align: left;
    color:$dark-blue-base-color;
    font-size: 20px;
    font-weight: 800;
  }

  .radio-group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    clear: both;
  }

  div.error{
    color:red;
    text-align: left;
  }


  margin-top: 15px;

  .order-form-container{
    background-color: $gray-base-color;

    form{
      margin:auto;
      padding: 30px 0;
    }

    label{
      font-weight: normal;
    }

  }

  .success{
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;

    p{
      font-size: 18px;
      font-weight: 500;
    }
  }

  .success-icon{
    background-image: url("../img/success.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 63px;
    height: 95px;
    margin: 30px auto;
  }

  .btn-dev{
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .radio-group label{
    padding-top: 15px;
    font-weight: normal;
    font-style: italic;
    display: flex;
    align-items: center
  }

  .radio-group label>span{
    margin-right: 5px;
    border: none;
    height: 25px;
    width: 25px;
    background-color: $default-color;
    border-radius: 50%;
    margin-left: 20px;
  }

   label >input[type=radio   ]:not(old):checked + span{
     border: 2px solid $dark-blue-base-color;
     box-shadow: none;
  }

  .radio-group input[type=radio]{
    display: none;
  }

  @media(max-width: 767px){
    .order-form-container form{
      width: 90%;
    }
  }

  @media(min-width: 768px){
    .order-form-container form{
      width: 80%;
    }
  }

  @media(min-width: 1200px){
    .order-form-container form{
      width: 70%;
    }
  }

  input, textarea{
    border-radius: $dev-input-border-radius;
    border: 1px solid $gray-base-color;
    box-shadow: 0 1px 1px 1px $gray-base-color inset;

    &:focus{
      box-shadow: none;
      border: 1px solid $dark-blue-base-color;
    }
  }

  .control-label{
    text-align: left;
  }

}

section.about_us{
  position: relative;
  margin-top: 54%;
  width: 100%;
  height:auto;
  padding-bottom:30px;
  .row>div{
    margin-bottom:15px;
  }

  .label-about_us {
    position: relative;
    height: 0;

    h1 {
      font-size: 16px;
      letter-spacing: 4px;
      text-transform: uppercase;
      height: 120px;
      width: 90px;
      position: absolute;
      z-index: 100;
      left: -20px;
      top: -160px;
      border: 1px solid $gray-base-color;

      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 120px;
        width: 90px;
        background-color: $dark-blue-base-color;
        right: 30px;
        top: 40px;
        opacity: 0.9;
      }

      span {
        position: absolute;
        z-index: 1000;
      }

      span:nth-child(1) {
        top: 3px;
        left: 7px;
      }
      span:nth-child(2) {
        top: 17px;
        left: 31px;
      }
      span:nth-child(3) {
        top: 17px;
        left: 50px;
      }
      span:nth-child(4) {
        top: 42px;
        left: 70px;
      }
      span:nth-child(5) {
        top: 60px;
        left: 58px;
      }
      span:nth-child(6) {
        top: 84px;
        left: 70px;
      }
    }
  }

  .about-item{
    height: 100%;
    background-color: $gray-base-color;
    border-right: 3px solid $dark-gray-base-color;
    border-bottom: 8px solid $dark-gray-base-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;

    img {
      filter: grayscale(100%);
    }

    &:hover{
      background-color: $blue-base-color;
      color:$default-color;
      border-right: 3px solid #0f7492;
      border-bottom: 8px solid #0f7492;
      & svg {
        fill: $yellow-base-color;
      }
      .about-img, .about-img img{
        width:100%;
        padding:0 5px 5px 5px ;
        filter: none;

      }
      .about-article{
        padding-bottom:10px;
      }
    }

    h1{
      min-height: 80px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .about-article{
      flex-grow: 5;
      padding:20px;
    }

    .about-item p{
      text-align: left;
      margin: 15px 0;
      font-size: 16px;
    }

    .about-img{
      padding-top: 40px;
      padding-bottom:55px;
    }
  }

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
  }
}