html {
 height: 100%;
}

body{
  font-family: Beau;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.dev-studio{
  background-image: url("../img/dev.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 50px;
  flex: 1 0 auto;
  //bottom:0;
}


// Fonts
@font-face {
  font-family: 'PFBeauSansProLight';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Light.ttf')  format('truetype'),
}
@font-face {
  font-family: 'PFBeauSansProReg';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Reg.ttf')  format('truetype'),
}
@font-face {
  font-family: 'PFBeauSansProBold';
  src: url('../fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf')  format('truetype'),
}