.footer{
    background-color: $dark-blue-base-color;
    padding: 60px 0;
    text-align: center;
    margin: 0;
}

.footer .spanblock{
  display: block;
  margin: 10px;
}

.footer .spanblock, .footer .copyright, .footer .span{
  font-size: 10pt;
  color: white;
}
.footer .copyright{
  border: 1px solid white;
  border-radius: 50%;
  padding: 0 4px 1px 5px;
  margin: 0;
}
