@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navbar";
.header img{
    height: 40px;
}

.header .navbar-blue{
    background-color: $dark-blue-base-color;
}

.navbar {
    border: none;
}

.header .internship{
    background-color: $yellow-base-color;
    text-align: center;
}

.header .navbar-brand{
    padding: 5px 10px;
}

.header li{
    height: 50px;
    font-size: 14pt;
    padding: 15px 20px;
}

.header li:first-child{
    margin: 0;
}

.header .navbar-blue .navbar-nav li a{
    color: white;
    padding: 0;
}

.header .small-menu .internship .nav.navbar-nav li{
    padding-left: 45px;
    padding-right: 45px;
}

.header .navbar-blue .navbar-nav li a:hover{
    color: $yellow-base-color;
    border-bottom: 2px solid $yellow-base-color;
}

.header .navbar-blue .navbar-nav > li > a:active{
    color: $default-color;
}

.header .navbar-toggle:hover span{
	background-color: #f7c008;
}

.header .navbar-toggle:focus span{
	background-color: #f7c008;
}

.header .internship .nav li a{
    color: $dark-blue-base-color;
}

.header .internship .nav li {
    float: none;
    padding-left: 15px;
}

.header .internship .nav li a:hover{
    color: $default-color;
    border: none;
}

.header .small-menu{
    
    padding: 0;
}

.white_block{
    width: 12%;
    height: $navbar-height;
    background-color: $default-color;
    position: absolute;
    z-index: -500;
    top: 0;
    right: 0;
}

@media(max-width: 1200px){
    .header li{padding: 15px 20px;}
}

@media(max-width: 1000px){
    .header li{padding: 15px 10px;}
    .header .small-menu .internship .nav.navbar-nav li{padding-left: 30px; padding-right: 30px;}
}

@media(max-width: 767px){
    .header li{padding: 15px 10px;}
    .header .small-menu .internship .nav.navbar-nav li{padding-left: 20px; padding-right: 20px;}
    .white_block{display: none;}
}

.header .navbar li.active a{
    background-color: $dark-blue-base-color;
    color: $yellow-base-color;
    border-bottom: 2px solid $yellow-base-color;
}

.header .navbar li.active a:hover, .header .navbar li.active a:focus{
    background-color: $dark-blue-base-color;
    color: $yellow-base-color;
}
