@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";


.navbar {
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: $dark-blue-base-color;

  .navbar-brand {
    padding:10px 15px;
  }

}

.navbar-default {
  background-color: $dark-blue-base-color;
  height: $navbar-height;
  ul.navbar-nav{
    margin: auto;
    float: none;
  }

  @media (min-width: 768px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    .navbar-nav {
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
    }

    .navbar-nav > li {
      display: inline-block;
      float:none;
      padding: 15px;

      &.active a,
      &.active a:hover,
      a:hover,
      a:focus,
      a:active {
        color: $yellow-base-color;
        border-bottom:2px solid $yellow-base-color;
      }
    }

    .navbar-nav > li>a {
      padding: 0;
      padding-bottom: 2px;
      font-size: 18px;
      color: $default-color;
      border-bottom:2px solid $dark-blue-base-color;
    }

    .navbar-nav > li:last-child {
      float: right;
      background-color: $default-color;
      padding-bottom: 12px;

      a {
        color: $dark-blue-base-color;
        border-bottom:2px solid $default-color;
      }

      &.active a,
      &.active a:hover,
      a:hover,
      a:focus,
      a:active {
          color: $yellow-base-color;
          border-bottom:2px solid $yellow-base-color;
      }
    }
  }
}




