.projects {

  .controls_block {
    position: absolute;
    height: $control-size;
    width: $control-size;
    background-color: $dark-blue-base-color;
    box-shadow: 0px 0px 2px 3px $dark-blue-base-color;
    transform: rotate(45deg);
    display: flex;
    z-index: 1000;
    left: calc(50% - 45px);
    top: calc(50% - 50px);

    .controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: rotate(-45deg);

      .slider_control {
        &:hover {
          outline: 0;
          @include opacity(.7);
        }
      }
    }
  }

  .project-slide-item {
    background-color: $carousel-slide-bg;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    //height:320px;

    &:hover {
      background-color: $carousel-slide-hover-bg;
      img{
        filter: none;
      }

      &.item-left::before{
        border-right-color:  $carousel-slide-hover-bg;
      }

      &.item-right::before{
        border-left-color: $carousel-slide-hover-bg;
      }

      .btn-dev{
        background-color: $btn-dev-bg-hover;
      }
    }


    img {
      filter: grayscale(100%);
      height:180px;
      width: auto;
      padding-right: 15px;
      padding-left: 15px;
    }


  }

  .btn-dev{
    position: absolute;
    padding: 10px 15px;
    z-index:1005;
    border-radius: 7px;
    top:50%;
    left: -25px;
  }

  .carousel-inner{
    overflow: visible;
  }

  .item-top::before{
    position: absolute;
    content: "";
    top: 0;
  }

  .item-top.item-left::before{
    border-top: 100px solid white;
    border-right: 600px solid $carousel-slide-bg;
    left: 0;
  }

  .item-top.item-right::before{
    border-top: 100px solid white;
    border-left: 600px solid $carousel-slide-bg;
    right: 0;
  }

  .item-bottom::before{
    position: absolute;
    content: "";
    bottom: 0;
  }

  .item-top .btn-dev{
    top: 60%;
  }

  .item-left .btn-dev{
    left: -15%;
  }


  .item-bottom.item-left::before{
    border-bottom: 100px solid white;
    border-right: 600px solid $carousel-slide-bg;
    left:0;
  }

  .item-bottom.item-right::before{
    border-bottom: 100px solid white;
    border-left: 600px solid $carousel-slide-bg;
    right:0;
  }

  .item-top{
    padding-bottom: 40px;
    padding-top: 100px;
  }

  .item-bottom{
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .item{
    padding:10px;
  }

  .flex_row>.flex_col{
    padding: 10px;
    position: relative;
  }

  .flex_row{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .projects_label{
    position: relative;
    height: 0;

    h1 {
      font-size: 16px;
      letter-spacing: 4px;
      text-transform: uppercase;
      height: 120px;
      width: 90px;
      position: absolute;
      z-index: 100;
      left: -15px;
      top: -40px;
      border: 1px solid $dark-blue-base-color;

      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 120px;
        width: 90px;
        background-color: $blue-base-color;
        right: 26px;
        top: 40px;
        opacity: 0.9;
      }

      span {
        position: absolute;
        z-index: 1000;
      }

      span:nth-child(1) {
        top: 3px;
        left: 3px;
      }
      span:nth-child(2) {
        top: 17px;
        left: 30px;
      }
      span:nth-child(3) {
        top: 34px;
        left: 42px;
      }
      span:nth-child(4) {
        top: 34px;
        left: 68px;
      }
      span:nth-child(5) {
        top: 60px;
        left: 54px;
      }
      span:nth-child(6) {
        top: 84px;
        left: 36px;
      }
      span:nth-child(7) {
        bottom: 3px;
        right: 3px;
      }
    }
  }

}



