.projects {
    margin-top: 20%;
    margin-bottom: 10%;
  .carousel-inner:hover{
    overflow: visible;
   }

  .controls_block {
    position: absolute;
    height: $control-size;
    width: $control-size;
    background-color: $dark-blue-base-color;
    box-shadow: 0px 0px 2px 3px $dark-blue-base-color;
    transform: rotate(45deg);
    display: flex;
    z-index: 1000;
    left: calc(50% - 45px);
    top: calc(50% - 50px);

    .controls {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: rotate(-45deg);

      .slider_control {
        &:hover {
          outline: 0;
          @include opacity(.7);
        }
      }
    }
  }

  .project-slide-item {
    background-color: $carousel-slide-bg;
    position: relative;
    text-align: center;
    height: 220px;
    display: flex;
    justify-content: center;

    a{
      padding: 0 50px;
    }

    img {
      filter: grayscale(100%);
      max-height: 180px;
    }
  }

  .item-container{
    padding: 0;
    overflow: hidden;
    .btn-dev{
      position: absolute;
      padding: 10px 15px;
      z-index:1005;
      border-radius: 7px;
      display: none;
      font-size: 16px;
    }
  }

  .item-container:hover {
    & .project-slide-item{
      background-color: $carousel-slide-hover-bg;
      &.item-left::before{
        border-right-color:  $carousel-slide-hover-bg;
      }
      &.item-right::before{
        border-left-color: $carousel-slide-hover-bg;
      }
    }

    img{
      filter: none;
    }

    & .btn-dev{
      display: block;
    }

    & .btn-dev:hover{
      display: block;
    }

    span.action{
      background-image: url("../img/write.png");
    }
  }



  .item-top~.btn-dev{
    top:60%;
  }

  .item-left~.btn-dev{
    left: -30px;
  }

  .item-bottom~.btn-dev{
    bottom:63%;
  }

  .item-right~.btn-dev{
    right: -30px;
  }


  .item-top~.action{
    top:40%;
  }

  .item-left~.action{
    left: 40px;
  }

  .item-bottom~.action{
    bottom:40%;
  }

  .item-right~.action{
    right: 30px;
  }

span.action{
  background-image: url("../img/watch.png");
  height: 50px;
  width: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

  .item-top{
    padding-bottom: 40px;
    align-items: flex-start;
  }

  .item-top::before{
    position: absolute;
    content: "";
    height:0;
    width:0;
    top: -100px;
  }

  .item-top.item-left::before{
    border-top: 100px solid transparent;
    border-right: 600px solid $carousel-slide-bg;
    left: 0;
  }

  .item-top.item-right::before{
    border-top: 100px solid transparent;
    border-left: 600px solid $carousel-slide-bg;
    right: 0;
  }

  .item-bottom{
    padding-top: 40px;
    align-items: flex-end;
  }

  .item-bottom::before{
    position: absolute;
    content: "";
    bottom: -100px;
  }

  .item-bottom.item-left::before{
    border-bottom: 100px solid transparent;
    border-right: 600px solid $carousel-slide-bg;
    left:0;
  }

  .item-bottom.item-right::before{
    border-bottom: 100px solid transparent;
    border-left: 600px solid $carousel-slide-bg;
    right:0;
  }


  .flex_col:nth-child(1) .item-container, .flex_col:nth-child(2) .item-container  {
    padding-top: 100px;
  }

  .flex_col:nth-child(3) .item-container, .flex_col:nth-child(4) .item-container  {
    padding-bottom: 100px;
  }

  .item{
    padding:10px;
  }

  .flex_row>.flex_col{
    padding: 10px;
    position: relative;
  }

  .flex_row{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .projects_label{
    position: relative;
    height: 0;

    h1 {
      font-size: 16px;
      letter-spacing: 4px;
      text-transform: uppercase;
      height: 120px;
      width: 90px;
      position: absolute;
      z-index: 100;
      left: -15px;
      top: -40px;
      border: 1px solid $dark-blue-base-color;

      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 120px;
        width: 90px;
        background-color: $blue-base-color;
        right: 26px;
        top: 40px;
        opacity: 0.9;
      }

      span {
        position: absolute;
        z-index: 1000;
      }

      span:nth-child(1) {
        top: 3px;
        left: 3px;
      }
      span:nth-child(2) {
        top: 17px;
        left: 30px;
      }
      span:nth-child(3) {
        top: 34px;
        left: 42px;
      }
      span:nth-child(4) {
        top: 34px;
        left: 68px;
      }
      span:nth-child(5) {
        top: 60px;
        left: 54px;
      }
      span:nth-child(6) {
        top: 84px;
        left: 36px;
      }
      span:nth-child(7) {
        bottom: 3px;
        right: 3px;
      }
    }
  }

  .project-view {

    h1{
      text-transform: uppercase;
      span{
        margin-left: 35px;
      }

      a.close{
        display: inline-block;
        float: none;
        width: 32px;
        height:32px;
      }
    }

    .current_project {
      padding: 10px 0 15px 0;

      .description {
        background-color: $yellow-base-color;
        padding: 0 40px 22px 40px;

        h1 {
          font-size: 28px;
          text-transform: none;
          margin-bottom: 38px;
          font-weight: 700;
        }

        p {
          font-size: 18px;
          margin-left: 12px;
        }
      }

      .vacancies {
        background-color: $gray-base-color;

        .vacancies-container{
          width: 75%;
          margin: auto;
        }

        h2 {
          font-size: 22px;
          color: $default-color;
          position: relative;
          margin-left: 48px;

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: -48px;
            top: -8px;
            background: url(../img/vacancies-icon.png) no-repeat;
            height: 43px;
            width: 36px;
          }
        }

        .resume {
          margin: 25px 0 25px 0;
          h3{
            font-size: 18px;
            display: inline-block;
            color: $dark-blue-base-color;
            width: 190px;
            font-weight: 700;
          }

          .btn-desc {
            -webkit-border-radius: 7px;
            border-radius: 7px;
            background-color: $default-color;
            color: $dark-blue-base-color;
            padding: 7px 15px 7px 15px;
            margin: 0 20px 0 0;
            font-size: 14px;
            border: 1px solid transparent;
            &:hover{
              border:1px solid $dark-blue-base-color;
            }
          }

          .btn-send {
            -webkit-border-radius: 7px;
            border-radius: 7px;
            padding: 7px 15px 7px 15px;
            font-size: 14px;
            text-transform: uppercase;
            font-size: 14px;

          }

        }
      }
    }

    .other_projects {
      padding: 10px;
      overflow: auto;

      ul  {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 30px;
          padding: 0;
          border-bottom: 3px solid $dark-gray-base-color;

          &:hover, &:focus, &:active{
            border-bottom: 3px solid #000;

            a {
              color: #000;
              text-decoration: none;
            }
          }
        }

        a {
          font-size: 22px;
          color:$dark-gray-base-color;
          padding: 0 20px 0 20px;

          &:hover, &:focus, &:active{
            text-decoration: none;
          }

        }
      }
    }

  }

}





